@charset "UTF-8";

/* customcalendar
---------------------------------------------------------- */
.top-thang {
  .customcalendar {
    position: relative;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    font-size: fs(14);
    color: #111;
    padding: 0 1rem 1rem 1rem;
  }

  .customcalendar #wp-calendar {
    width: 100%;
    padding-bottom: 1rem;
    table-layout: fixed;
  }

  .customcalendar td {
    text-align: center;
  }

  .customcalendar thead th {
    font-size: fs(10);
    font-family: $font-a;
    color: #152445;
  }

  .customcalendar tbody td {
    // padding: 1.4rem 1.6rem;
    width: 44px;
    height: 44px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .customcalendar tbody td a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #CACFD9;
    padding-bottom: 8px;

    &.blue {
      color: #152445;

      &:after {
        background-color: #152445;
      }
    }

    &.green {
      color: #62BAD5;

      &:after {
        background-color: #62BAD5;
      }
    }

    &.orange {
      color: #C68F60;

      &:after {
        background-color: #C68F60;
      }
    }

    &.active {
      background-color: #152445;
      color: #fff;

      &:after {
        background-color: #fff;
      }
    }
  }

  .customcalendar tbody td a:after {
    position: absolute;
    bottom: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #CACFD9;
    content: "";
  }

  .customcalendar tbody a {
    // color: #CACFD9;
    display: block;
  }

  // .customcalendar .eo-event-cat-topaz {
  //   background-color: #152445;
  // }

  // .customcalendar .eo-event-cat-jade {
  //   background-color: #152445;
  // }

  // .customcalendar .eo-event-cat-ruby {
  //   background-color: #ad002d;
  // }

  // .customcalendar .eo-event-cat-special {
  //   background-color: #927a30;
  // }

  // .customcalendar .eo-event-cat-chamber-music {
  //   background-color: #5e3862;
  // }

  // .customcalendar .eo-event-cat-other {
  //   background-color: #999;
  // }

  // .customcalendar .eo-event-cat-concerts {
  //   background-color: #927a30;
  // }

  // .customcalendar .eo-event-cat-sapphire {
  //   background-color: #f29600;
  // }

  .customcalendar #eo-widget-prev-month,
  .customcalendar #eo-widget-next-month {
    position: absolute;
    top: 0;
    visibility: hidden;
  }

  .customcalendar #eo-widget-prev-month {
    left: 1.5rem;
  }

  .customcalendar #eo-widget-next-month {
    right: 1.5rem;
  }

  .customcalendar #eo-widget-prev-month a:before,
  .customcalendar #eo-widget-next-month a:before {
    font-family: njp_official;
    font-size: 3rem;
    visibility: visible;
    position: absolute;
    color: #111;
    top: 1.5rem;
  }

  .customcalendar #eo-widget-prev-month a:before {
    content: '\f104';
    left: 1rem;
  }

  .customcalendar.customcalendar-small #eo-widget-prev-month a:before {
    content: '\f104';
    left: 2rem;
  }

  .customcalendar #eo-widget-next-month a:before {
    content: '\f105';
    right: 1rem;
  }

  .customcalendar.customcalendar-small #eo-widget-next-month a:before {
    content: '\f105';
    right: 2rem;
  }

  .customcalendar caption {
    position: relative;
    // margin-top: 1rem;
    // height: 5.7rem;
    // line-height: 5.7rem;
    // margin-bottom: .6rem;
    background-clip: content-box;
    font-size: fs(10);
    font-family: $font-a;
    color: #152445;
  }

  .customcalendar caption .date {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .customcalendar caption .month {
    margin: 0 8px;
    font-size: fs(26);
    line-height: fs(55);
  }

  .customcalendar tfoot .pad {
    display: none;
  }

  .customcalendar.customcalendar-small {
    font-size: 1.4rem;
  }

  .customcalendar.customcalendar-small caption {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .customcalendar.customcalendar-small tbody td {
    padding: 0;
    width: 4.4rem;
    height: 4.4rem;
  }

  .customcalendar.customcalendar-small .widget_calendar {
    border: .1rem solid #d9d9d9;
    min-height: 35rem;
  }

  .customcalendar.customcalendar-small #wp-calendar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .customcalendar.customcalendar-small .customcalendar-btn {
    margin: 2rem 0 1rem;
  }

  .customcalendar.customcalendar-small .customcalendar-btn+.customcalendar-btn {
    margin: 1rem 0 2rem;
  }

  .customcalendar.customcalendar-small .customcalendar-btn p:first-child {
    margin-right: .5rem;
  }

  .customcalendar.customcalendar-small .customcalendar-btn p:nth-child(2) {
    margin-left: .5rem;
  }

  .customcalendar.customcalendar-small .calendar-program p {
    color: #3f6a9f;
  }

  .customcalendar.customcalendar-small #wp-calendar {
    font-size: 2rem;
  }

  .customcalendar #wp-calendar {
    position: relative;
  }

  .customcalendar tfoot tr td:first-child,
  .customcalendar tfoot tr td:last-child {
    position: absolute;
    top: 0;
  }

  .customcalendar tfoot tr td:first-child a,
  .customcalendar tfoot tr td:last-child a {
    color: #eee;
    display: inline-block;
    padding-top: 3rem;
    font-size: 0;
    position: relative;
  }

  // .customcalendar tfoot tr td:first-child {
  //   left: 1.5rem;
  // }

  // .customcalendar tfoot tr td:last-child {
  //   right: 1.5rem;
  // }

  // .customcalendar tfoot tr td:first-child a:before,
  // .customcalendar tfoot tr td:last-child a:before {
  //   visibility: visible;
  //   position: absolute;
  //   left: 0;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   -webkit-transform: translateY(-50%);
  //   width: 21px;
  //   height: 7px;
  //   display: inline-block;
  //   background: url(../images/common/icon-arrow-left.svg) no-repeat;
  //   background-size: 100%;
  //   content: "";
  // }

  // .customcalendar tfoot tr td:first-child a:before {
  //   left: .5rem;
  // }

  // .customcalendar tfoot tr td:last-child a:before {
  //  left: auto;
  //   right: 0;
  // }

  .customcalendar #wp-calendar {
    font-family: 'Libre Baskerville', serif !important;
    position: relative;
  }

  .customcalendar #wp-calendar:before {
    content: "";
    display: block;
  }

  .customcalendar #wp-calendar.customcalendar-load:before {
    content: "";
    display: block;
    font-size: 25px;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    position: absolute;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;

  }
}

@-webkit-keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.5), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.5), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.5), 2.5em 0em 0 0em rgba(22, 36, 68, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.5), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.5), 0em 2.5em 0 0em rgba(22, 36, 68, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.5), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.5), -2.6em 0em 0 0em rgba(22, 36, 68, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.5), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.5), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.5), 2.5em 0em 0 0em rgba(22, 36, 68, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.5), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.2), -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.5), 0em 2.5em 0 0em rgba(22, 36, 68, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(22, 36, 68, 0.2), -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.5), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(22, 36, 68, 0.2), 1.8em -1.8em 0 0em rgba(22, 36, 68, 0.2), 2.5em 0em 0 0em rgba(22, 36, 68, 0.2), 1.75em 1.75em 0 0em rgba(22, 36, 68, 0.2), 0em 2.5em 0 0em rgba(22, 36, 68, 0.2), -1.8em 1.8em 0 0em rgba(22, 36, 68, 0.5), -2.6em 0em 0 0em rgba(22, 36, 68, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

// @media only screen and (max-width: 767px) {
//   .customcalendar {
//     margin-right: 1rem;
//     margin-left: 1rem;
//   }

//   .customcalendar.customcalendar-small {
//     margin-right: 0;
//     margin-left: 0;
//   }

//   .customcalendar tbody td {
//     padding: 0;
//   }
// }

.top-thang {
  @media only screen and (min-width: 768px) and (max-width: 1179px) {
    .customcalendar {
      font-size: fs(14)
    }

    .customcalendar tbody td {
      // padding: 1rem 1rem;
    }

    .customcalendar.customcalendar-concert {
      margin-bottom: 2rem;
    }
  }


  // new
  .main-sidebar--calendar {
    &-ttl {
      position: relative;
      padding: 10px 15px;
      font-size: fs(16);
      font-family: $font-a;
      color: #fff;
      background-color: #838b9e;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        display: inline-block;
        width: auto;
        margin-left: 10px;
        font-size: fs(8);
      }
    }
  }

  .customcalendar {
    caption {
      position: relative;
      margin-bottom: 10px;
    }

    .ctrl {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 21px;
      height: 7px;
      display: inline-block;
      background: url(../images/common/icon-arrow-left.svg) no-repeat;
      background-size: 100%;
      content: "";

      &.next {
        left: auto;
        right: 0;
        background-image: url(../images/common/icon-arrow-right.svg);
      }
    }
  }
}