// Slide button control
.slick-prev,
.slick-next {
  position: absolute;
  top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 80px;
  background-color: #838B9D;
  z-index: 1;
  transition: all .3s;

  @include mq() {
    width: 50%;
    height: 47px;
    top: auto;
    bottom: -47px;
  }

  &:hover,
  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #152445;
  }

  span {
    display: block;
    position: relative;
    width: 21px;
    height: 7px;
    background: url(../images/common/icon-arrow-left-white.svg) center center no-repeat;
    background-size: 100%;
  }
}

.slick-prev {
  left: -33px;
  @include mq() {
    left: 0;
    border-right: solid 1px #fff;
  }

  // span {
  //   &:before {
  //     left: 17px;
  //     transform: rotate(135deg);
  //     -webkit-transform: rotate(135deg);
  //   }
  // }
}

.slick-next {
  right: -33px;

  @include mq() {
    right: 0;
  }

  span {
    background: url(../images/common/icon-arrow-right-white.svg) center center no-repeat;
    background-size: 100%;
  }

  @media all and (-ms-high-contrast:none) {

    /* IE10 */
    span {
      &:before {
        left: 15px;
      }
    }

    *::-ms-backdrop,
    span {
      &:before {
        left: 15px;
      }
    }

    /* IE11 */
  }
}
