@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
	&-logo {
		width: 12.2%;
		margin: 0 auto 60px;
		@include mq() {
			width: 46%;
	    max-width: 170px;
	  }
	}
	&-topWrap {
		padding: 60px 0;
		background-color: #152445;
	}
	&-top {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
    @include mq() {
			width: 100%;
			padding: 0 45px;
	  }
	}
	&-nav {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
		color: #A3A9B5;
		@include mq() {
			display: block;
	  }
		&--item {
			width: 33.33%;
			padding: 0 12px;
			margin-bottom: 30px;
			@include mq() {
				width: 100%;
		  }
		}
		&--direct {
			padding-bottom: 10px;
			border-bottom: solid 1px #A3A9B5;
			a {
				display: block;
				font-size: fs(14);
				font-weight: bold;
				background: url(../images/common/icon-arrow-right-short-gray.svg) right center no-repeat;
				background-size: 11px 7px;
				transition: all .3s;
				&:hover {
					opacity: .7;
				}
			}
		}
		&--links {
			margin-top: 15px;
			li {
				a {
					font-size: fs(12);
					line-height: fs(24);
					transition: all .3s;
					&:hover {
						opacity: .7;
					}
				}
			}
		}
	}
	&-sns {
		margin-top: 30px;
		text-align: center;
		@include mq(sm2) {
			display: flex;
			margin: 30px -20px 0;
	  }
		&--item {
			margin-right: 30px;
			transition: all .3s;
			@include mq(sm2) {
				width: 25%;
				margin-right: 0;
				padding: 0 20px;
				display: flex;
		  }
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				opacity: .7;
			}
			img {
				width: auto;
				@include mq(sm2) {
					width: 100%;
				}
			}
		}
	}
	&-copy {
		padding: 20px 40px 60px;
		display: flex;
		justify-content: space-between;
		font-size: fs(12);
		line-height: fs(24);
		@include mq() {
			display: block;
	    padding: 40px 0 0;
	  }
		&--nav {
			display: flex;
			@include mq() {
				display: block;
				padding-bottom: 15px;
				text-align: center;
				// border-bottom: solid 1px #707070;
		  }
			li {
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: #152445;
					transition: all .3s;
					&:hover {
						opacity: .7;
					}
				}
			}
		}
		&--infor {
			color: #A3A9B5;
			@include mq() {
		    padding: 15px 0 85px;
				text-align: center;
				background-color: #F1F1F1;

		  }
		}
	}
}