@charset "UTF-8";
/* -------------------
  HEADER
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 164px;
  z-index: 9999;
  background-color: #fff;
  @include mq() {
    height: 58px;
  }
  &-top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #E3E3E3;
    @include mq() {
      height: 58px;
      position: relative;
      &:after {
        position: absolute;
        left: 0;
        bottom: -11px;
        display: block;
        height: 10px;
        width: 100%;
        background-color: #fff;
        content: "";
      }
    }
    .logo {
      width: 31%;
      margin-left: 15px;
      @include mq() {
        width: 65.3%;
        max-width: 245px;
        margin-left: 12px;
      }
      @include mq(sm3) {
        width: 62%;
      }
    }
  }
  &-action {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    @include mq() {
      display: none;
    }
    .sub {
      display: flex;
      align-items: center;
    }
    &--tel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 30px;
      @include mq() {
        display: flex !important;
        margin-right: 0;
        margin-top: 35px;
        justify-content: center;
      }
      a {
        transition: all .3s;
        &:hover {
          opacity: .7;
        }
      }
      &-label {
        position: relative;
        margin-right: 10px;
        padding: 10px 3px;
        font-size: fs(13);
        font-family: $font-a;
        @include mq() {
          padding: 20px 3px;
          font-size: fs(15);
        }
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #152445;
          content: "";
        }
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #152445;
          content: "";
        }
      }
      &-cnt {
        text-align: center;
      }
      &-num {
        font-size: fs(27);
        font-family: $font-a;
        line-height: 1;
        @include mq() {
          font-size: fs(35);
        }
      }
      &-text {
        font-size: fs(11);
        @include mq() {
          margin-top: 3px;
          font-size: fs(14);
        }
      }
    }
    &--icon {
      height: 100%;
      border-left: 1px solid #E3E3E3;
      font-size: fs(12);
      font-weight: bold;
      color: #152445;
      transition: all .3s;
      &:hover {
        color: #fff;
        background-color: #152445;
        a {
          background-image: url(../images/common/icon-access-white.svg);
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        padding-top: 25px;
        background: url(../images/common/icon-access.svg) top center no-repeat;
        background-size: 18px 21px; 
      }
      &.shop {
        a {
          background: url(../images/common/icon-cart.svg) top center no-repeat;
          background-size: 23px 21px; 
        }
        &:hover {
          a {
            background-image: url(../images/common/icon-cart-white.svg);
          }
        }
      }
      &.ticket {
        background-color: #911D2A;
        color: #fff;
        transition: all .3s;
        &:hover {
          opacity: .7;
        }
        @include mq() {
          height: 60px;
          display: flex !important;
          align-items: center;
          justify-content: center;
          &.type2 {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 9998;
          }
        }
        a {
          background: url(../images/common/icon-ticket.svg) top center no-repeat;
          background-size: 23px 21px; 
          @include mq() {
            display: inline-block;background: url(../images/common/icon-ticket.svg) left center no-repeat;
            background-size: 30px 18px; 
            padding-top: 0;
            padding-left: 40px;
          }
        }
      }
    }
  }
  &-nav {
    position: relative;
    @include mq() {
      position: fixed;
      top: 58px;
      left: 0;
      width: 100%;
      height: calc(100vh - 58px);
      background-color: #fff;
      transition: all .3s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      z-index: 9999;
      overflow-y: auto;
      &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }
    nav {
      @include mq() {
        padding: 70px 30px 40px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px #E3E3E3;
        @include mq() {
          border-bottom: none;
          display: block;
          margin-bottom: 60px;
        }
        li {
          margin-right: 40px;
          height: 64px;
          @include mq() {
            height: auto;
            margin-right: 0;
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: fs(15);
            color: #152445;
            font-weight: bold;
            border-bottom: solid 1px #FFF;
            transition: all .3s;
            &:hover {
              opacity: .7;
              border-bottom: solid 1px #152445;
            }
          }
        }
      }
    }
    &--search {
      display: flex;
      align-items: center;
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      // &-input {
      //   height: 40px;
      //   width: 10vw;
      //   border: none;
      //   background-color: #F8F8F8;
      //   font-size: fs(14);
      //   border-radius: 40px;
      // }
      &-btn {
        position: absolute;
        right: 0;
        width: 24px;
        height: 24px;
        border: none;
        background: url(../images/common/icon-search.svg) center center no-repeat;
        background-size: 23px 23px; 
        cursor: pointer;
      }
      form {
        position: absolute;
        top: 20px;
        right: 0;
        display: none;
        &.active {
          display: flex;
        }
        .search-boxInput {
          font-size: fs(14);
          line-height: 14px;
          padding: 2px 5px;
          border-radius: 3px;
          border: none;
          border: 1px solid #E3E3E3;
          border-radius: .3rem 0 0 .3rem;
          background: #fff url(../images/common/google-search.gif) left 5px center no-repeat;
          &:focus {
            background: #fff;
          }
        }
        input[type="submit"] {
          font-size: 12px;
          line-height: 14px;
          padding: 3px 1em;
          color: #fff;
          border-radius: 0 .3rem .3rem 0;
          border: none;
          background: #927a30;
          display: inline-block;
        }
      }
    }
  }
  &-ctrl {
    &--btn {
      position: fixed;
      top: 18px;
      right: 16px;
      width: 18px;
      height: 27px;
      transition: all .3s;
      z-index: 9999;
      &:hover,
      &:focus {
        outline: none;
      }
      span {
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        width: 18px;
        background: #152445;
        transition: .3s ease;
        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 6px;
        }

        &:nth-child(3) {
          top: 12px;
        }
      }

      &.open {
        span {
          &:nth-child(1) {
            top: 6px;
            left: 0;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            width: 0%;
            opacity: 0;
          }

          &:nth-child(3) {
            top: 6px;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &--label {
      position: fixed;
      top: 37px;
      right: 8px;
      width: 34px;
      font-size: fs(7);
      font-family: $font-a;
      text-align: center;
      z-index: 9999;
    }
  }
  &-tel {
    &--num {
      position: fixed;
      top: 12px;
      right: 68px;
      display: block;
      width: 14px;
      height: 16px;
      transition: all .3s;
      z-index: 9999;
      img {
        width: 100%;
      }
    }
    &--label {
      position: fixed;
      top: 37px;
      right: 58px;
      width: 34px;
      font-size: fs(7);
      font-family: $font-a;
      text-align: center;
      z-index: 9999;
    }
  }
  &-line {
    &:before {
      position: fixed;
      top: 0;
      right: 100px;
      display: block;
      width: 1px;
      height: 58px;
      background-color: #E3E3E3;
      content: "";
    }
    &:after {
      position: fixed;
      top: 0;
      right: 50px;
      display: block;
      width: 1px;
      height: 58px;
      background-color: #E3E3E3;
      content: "";
    }
  }
}
