@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
.top-thang {
	padding: 35px 0 0;
  background: url(../images/top/mv-bg.png) top center repeat-x;
	background-size: auto 630px;
	@include mq() {
    padding-top: 12px;
    // background-image: url(../images/top/mv-bg-sp.png);
    background: none;
    &.type2 {
    	padding-top: 0;
    }
  }
	.main {
		&-inner {
			width: 1200px;
			max-width: 100%;
			margin: 0 auto;
			display: flex;
		}
		&-ttl {
			font-size: fs(36);
			font-family: $font-a;
			text-align: center;
			color: #152445;
			@include mq() {
				font-size: fs(30);
			}
			span {
				display: block;
				width: 100%;
				font-size: fs(12);
				@include mq() {
					font-size: fs(10);
				}
			}
			&.type2 {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				span {
					display: inline-block;
					width: auto;
					margin-left: 10px;
				}
			}
			&.type3 {
				color: #fff;
			}
		}
		&-sidebar {
			width: 340px;
			max-width: 100%;
			margin-right: 50px;
			&--calendar {
				@include mq() {
			    margin-top: 60px;
			    padding: 0 12px;
			    .customcalendar {
				    border: 1px solid #E3E3E3;
			    }
			  }
			}
			&--advers {
				.main-advers {
					margin-bottom: 15px;
				}
			}
			&--search {
				margin-top: 40px;
				@include mq() {
			    margin: 0;
			    padding: 12px;
			    background-color: #E3E3E3;
			  }
				form {
					width: 100%;
					position: relative;
					.input {
						height: 50px;
						width: 100%;
				    padding: 12px 45px 12px 20px;
						color: #838B9D;
						background-color: #F8F8F8;
						font-weight: normal;
						font-size: fs(14);
						border: none;
						@include mq() {
					    height: 40px;
					    border-radius: 40px;
					    font-size: fs(12);
					    color: #A3A9B5;
					  }
					}
					.submit {
				    position: absolute;
				    right: 20px;
				    top: 50%;
				    transform: translateY(-50%);
				    -webkit-transform: translateY(-50%);
				    width: 24px;
				    height: 24px;
				    border: none;
				    background: url(../images/common/icon-search.svg) center center no-repeat;
				    background-size: 100%;
				    cursor: pointer;
				    @include mq() {
					    width: 22px;
					    height: 22px;
					    right: 16px;
					  }
					}
				}
			}
			&--nav {
				margin: 30px 20px;
				li {
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
					a {
						font-size: fs(14);
						line-height: fs(24);
						color: #152445;
						transition: all .3s;
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}
		&-content {
			width: calc(100% - 340px - 50px);
			@include mq() {
		    width: 100%;
		  }
		}
		&-sliderWrap {
			margin-bottom: 35px;
			@include mq() {
		    padding: 12px 12px 60px 12px;
		    background: url(../images/top/mv-bg-sp.png) repeat;
		    margin-bottom: 0;
		  }
		}
		&-slider {
			li {
				.link {
					transition: all .3s;
					&:hover {
						opacity: .9;
					}
				}
			}
			&--cnt {
				position: relative;
				padding-left: 50px;
				@include mq() {
			    padding: 0;
			  }
				&-label {
					position: absolute;
					left: 0;
					top: -30px;
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: center;
					width: 100px;
					height: 100px;
					background-color: #152445;
					@include mq() {
						width: 100%;
				    height: 42px;
				    flex-flow: row;
				    top: 0;
				  }
					&-img {
						width: 44px;
						height: 44px;
						margin-bottom: 5px;
						text-align: center;
						@include mq() {
							width: 30px;
							height: 30px;
							margin-right: 12px;
					  }
						img {
							height: 100%;
							width: auto;
							max-width: 80%;
						}
					}
					&-txt {
						width: 100%;
						font-size: fs(13);
						color: #fff;
						text-align: center;
						@include mq() {
							width: auto;
							padding-right: 30px;
					  }
					}
				}
				&-box {
					padding: 25px 25px 25px 80px;
					background-color: #fff;
					color: #152445;
					@include mq() {
				    padding: 60px 20px 20px;
				  }
				}
				&-ttl {
					margin-bottom: 12px;
					font-size: fs(18);
					font-weight: bold;
					line-height: fs(26);
				}
				&-des {
					font-size: fs(13);
					line-height: fs(20);
				}
			}
		}
		&-topic {
			display: flex;
			align-items: center;
			padding: 15px 30px;
			background-color: #A3122E;
			color: #fff;
			@include mq() {
		    margin: 30px 12px 0;
				display: block;
		  }
			&--lb {
				margin-right: 25px;
				font-weight: bold;
				font-size: fs(15);
				line-height: fs(34);
			}
			&--cnt {
				display: block;
				font-size: fs(13);
				line-height: fs(34);
				text-decoration: underline;
				transition: all .3s;
				@include mq() {
					line-height: fs(20);
			  }
				&:hover {
					opacity: .7;
				}
			}
		}
		&-featured {
			margin-top: 55px;
			margin-bottom: 40px;
			@include mq() {
				margin-bottom: 10px;
		  }
			.main-ttl {
				margin-bottom: 50px;
			}
			&--list {
				display: flex;
				flex-wrap: wrap;
			}
			&--item {
				width: 50%;
				background-color: #fff;
				@include mq(sm2) {
					width: 100%;
			  }
				a {
					display: block;
					transition: all .3s;
					&:hover {
						opacity: .7;
					}
				}
				&-thumb {
					position: relative;
					width: 100%;
					height: 272px;
					overflow: hidden;
					@include mq() {
						height: auto;
				  }
					&-stamp {
						position: absolute;
						top: 0;
						left: 20px;
						font-size: fs(14);
						font-family: $font-a;
						z-index: 2;
					}
					&:before {
						position: absolute;
						left: -10px;
						display: block;
						width: 124px;
						height: 28px;
						background-color: #fff;-webkit-transform: skew(-30deg);
				    -moz-transform: skew(-30deg);
				    -o-transform: skew(-30deg);
						content: "";
						z-index: 1;
					}
				}
				&-cnt {
					padding: 25px 30px 40px;
				}
				&-date {
					margin-bottom: 10px;
					font-family: $font-a;
					font-size: fs(11);
					line-height: fs(14);
				}
				&-ttl {
					margin-bottom: 20px;
					font-weight: bold;
					font-size: fs(18);
					line-height: fs(28);
					@include mq() {
						margin-bottom: 10px;
				  }
				}
				&-des {
					font-size: fs(13);
					line-height: fs(23);
				}
				&-local {
					margin-top: 15px;
					padding-left: 15px;
					font-size: fs(13);
					color: #838B9D;	
					background: url(../images/common/icon-map.svg) left center no-repeat;
					background-size: 10px 14px;
				}
			}
		}
		&-newsWrap {
			display: flex;
			justify-content: space-between;
			@include mq() {
				padding: 0 12px;
				margin-top: 60px;
		  }
			.main-ttl {
				margin-bottom: 20px;
			}
		}
		&-news {
			width: 440px;
			max-width: 100%;
			@include mq() {
				width: 100%;
		    .main-ttl {
		    	margin: 50px auto 30px;
		    }

		  }
			&--list {

			}
			&--item {
				padding: 22px 20px;
				border-top: solid 1px #CCD1DD;
				a {
					transition: all .3s;
					&:hover {
						opacity: .7;
					}
				}
				&-date {
					font-size: fs(13);
					font-family: $font-a;
					margin-bottom: 5px;
					.notice {
						display: inline-block;
						margin-left: 14px;
						padding: 1px 8px 0;
						background-color: #881717;
						color: #fff;
					}
				}
				&-des {
					font-size: fs(15);
					line-height: fs(26);
				}
			}
			&--viewmore {
				display: inline-block;
				margin-top: 20px;
				padding: 0 3px 10px;
				color: #152445;
				transition: all .3s;
				border-bottom: solid 2px #152445;
				@include mq() {
			    margin: 20px auto 0;
			  }
				&:hover {
					opacity: .7;
				}
			}
		}
		&-sns {
			width: 300px;
			max-width: 100%;
			@include mq() {
		    width: 100%;
		  }
			&--iframe {
				margin-bottom: 30px;
				@include mq() {
			    margin-bottom: 70px
			  }
			  @include mq(tb) {
			    width: 60%;
			    margin: 0 auto 30px;
			  }
			}
			.main-adversWrap {
				padding: 0;
			}
		}
		&-adversWrap {
			@include mq() {
		    padding: 0 12px;
		  }
		}
		&-advers {
			position: relative;
			display: block;
			margin-bottom: 10px;
			transition: all .3s;
			@include mq(tb) {
		    width: 50%;
		    margin: 0 auto 10px;
		  }
			&:hover {
				opacity: .7;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&--infor {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				width: 100%;
				text-align: center;
			}
			&--ttl {
				font-family: ten-mincho;
				font-size: fs(23);
				color: #fff;
			}
			&--time {
				font-family: ten-mincho;
				font-size: fs(14);
				color: #FFD34A;
			}
			&:before {
				position: absolute;
				bottom: 0;
				right: 0;
				display: inline-block;
				width: 0;
	      height: 0;
	      border-bottom: 55px solid #152445;
	      border-left: 55px solid transparent;
				content: "";
			}
			&:after {
				position: absolute;
				bottom: 15px;
		    right: 10px;
				display: inline-block;
				width: 11px;
	      height: 7px;
	      background: url(../images/common/icon-arrow-right-short2.svg) no-repeat;
				content: "";
			}
		}

		&-magazine {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			margin-top: 90px;
			z-index: 2;
			@include mq() {
		    margin-top: 50px;
		  }
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 320px;
				background-color: #152445;
				content: "";
			}
			.main-ttl {
				position: relative;
				margin-bottom: 40px;
				@include mq() {
			    margin-bottom: 70px;
			  }
				&:before,
				&:after {
					position: absolute;
					top: -40px;
					left: 50%;
					transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					display: inline-block;
					width: 1px;
					height: 30px;
					background-color: #fff;
					content: "";
				}
				&:after {
					top: auto;
					bottom: -40px;
				}
			}
			&--inner {
				position: relative;
				width: 100%;
				padding: 40px 20px;
				z-index: 1;
				@include mq() {
			    padding: 70px 0 40px;
			  }
			}
			&--list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 0 -5px;
				@include mq(sm2) {
			    margin: 0 0 30px;
			  }
			}
			&--item {
				width: 33.33%;
				padding: 0 5px;
				@include mq(sm2) {
			    width: 100%;
			    padding: 0;
			    max-height: 376px;
			    overflow: hidden;
			    border-bottom: solid 1px #fff;
			  }
				&:hover {
					.main-magazine--item-infor{
						opacity: 1;
					}
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
					position: relative;
				}
				&-infor {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					position: absolute;
					top: 10px;
					left: 10px;
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					padding: 20px;
					background-color: rgba(21,36,69,.8);
					color: #fff;
					z-index: 1;
					opacity: 0;
					transition: all .3s;
					@include mq() {
				    opacity: 1;
				    top: 20px;
						left: 20px;
						width: calc(100% - 40px);
						height: calc(100% - 40px);
				    padding: 30px;
				  }
				}
				&-tag {
					margin-bottom: 20px;
					color: #A3A9B5;
					font-size: fs(12);
				}
				&-des {
					font-size: fs(15);
					line-height: fs(24);
				}
			}
		}

		&-supporter {
			margin-top: 40px;
			.main-ttl {
				margin-bottom: 70px;
			}
			&--special {
				margin-bottom: 50px;
			}
			&--ttl {
				color: #838B9D;
				font-size: fs(15);
				margin-bottom: 25px;
				padding-bottom: 10px;
				border-bottom: solid 1px #E3E3E3;
				text-align: center;
			}
			&--list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 0 -15px;
				@include mq() {
			    padding: 0 12px;
			    margin: 0;
			  }
				&.center {
					justify-content: center;
				}
			}
			&--item {
				display: inline-block;
				margin-bottom: 20px;
				padding: 0 15px;
				transition: all .3s;
				@include mq() {
			    width: 48%;
			    padding: 0;
			    text-align: center;
			    img {
			    	max-width: 100%;
			    }
			    &.type2 {
			    	width: auto;
			    }
			  }
				&:hover {
					opacity: .7;
				}
				img {
					width: auto;
				}
			}
		}

		&-banner {
			padding: 60px 0 40px;
			background: url(../images/top/bg-banner.png) top center repeat;
			background-size: 100%;
			@include mq() {
		    padding: 45px;
		    background: url(../images/top/bg-banner-sp.png) top center repeat;
		  }
			&--list {
				display: flex;
				flex-wrap: wrap;
				width: 880px;
				max-width: 100%;
				margin: 0 auto;
			}
			&--item {
				display: block;
				width: 33.33%;
				margin-bottom: 20px;
				padding: 0 12px;
				transition: all .3s;
				@include mq(sm2) {
			    width: 100%;
			    margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
			  }
				&:hover {
					opacity: .7;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	.boxNews {
		position: absolute;
		top: 10px;
		left: 5px;
		width: calc(100% - 10px);
		// height: calc(100% - 15px);
		// transform: translateY(100%);
		color: #fff;
		z-index: 5;
		padding: 5px;
		background-color: #fff;
    // overflow-y: auto;
		display: none;
		&-ttl {
			position: relative;
			padding: 15px 0;
			font-size: fs(15);
			color: #fff;
			background-color: #838B9D;
			text-align: center;
		}
		&-cnt {
			padding: 18px;
			background-color: #152445;
			&--subject {
				margin-bottom: 12px;
				color: #838B9D;
			}
			&--main {
				display: flex;
				margin-bottom: 18px;
				&-thumb {
					width: 80px;
					height: 80px;
					overflow: hidden;
					margin-right: 14px;
				}
				&-infor {
					width: calc(100% - 100px - 20px);
				}
				&-date {
					margin-bottom: 12px;
					font-size: fs(12);
					font-family: $font-a;
				}
				&-des {
					font-size: fs(15);
				}
			}
			&--des {
				font-size: fs(12);
			}
		}
		&-close {
	    position: absolute;
	    top: 0;
	    right: 0;
	    display: block;
	    overflow: visible;
	    width: 50px;
	    height: 50px;
	    margin: 0;
	    padding: 0;
	    cursor: pointer;
	    transition: all 0.3s;
	    text-decoration: none;
	    color: #95979c;
	    outline: 0;
	    border: none;
	    background-color: #152445;
	    border-radius: 50%;
	    z-index: 10;
	    display: none;
	    &:hover {
	    	opacity: .9;
	    }
	    &:before {
	    	position: absolute;
		    color: #CCCCCC;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
		    width: 12px;
		    height: 12px;
		    background: url(../images/common/icon-close.svg) no-repeat;
		    background-size: 100%;
		    content: "";
			}
		}
	}
}